h1 {
    color: #62D7F8;
    font-weight: 500;
    margin-top: 1em;
    font-size: 3.5em;

}

h3 {
    font-family: 'Koulen';
    text-transform: uppercase;
    font-size: 2em;
    color: #AAA;
    margin-top: 1em;
}

#foto {
    border-radius: 100%;
    height: 400px;
    align-self: center;
}

.rolagem {
    animation: scrolldown 3s infinite forwards;
    width: 30px;
    padding: 0;
    height: 6vh;
}

.row {
    justify-content: center;
}

.col-2 {
    justify-content: center;
}

@keyframes scrolldown {

    0% {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
    }

    30% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}