body {
    background-color: #121212;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
}

p {
    margin-top: 7%;
    font-size: .9em;
}  

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

a{
    display: contents;
}

img {
    align-self: center;
}

a,
a:hover {
    color: #F8EBFF;
    text-decoration: none;
    white-space: nowrap;
}

button {
    margin: 4em 3em 0em 3em;
    border: none;
    --border-width: 3.5px;
    background-color: #10002B;
    padding: .5em 1.5em;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-width);
    width: 150px;
    height: 40px;
}

button:after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background-color: #8E00FE;
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
}


button:hover:after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.altura-div {
    display: flex;
    justify-content: center;
    height: 94vh;
}

.altura-div2 {
    display: flex;
    justify-content: center;
    height: 100vh;
}


.item-alinhado {
    height: 20em;
    align-self: center;
    width: 100%;
}

@media (min-width: 1200px) {
    #foto {
        height: 400px;
    }

    img {
        height: 60%;
    }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
    #foto {
        height: 350px;
    }

    button {
        width: 130px;
        height: 40px;
    }

    h1 {
        font-size: 3em;
    }

    img {
        height: 50%;
    }

}

@media (min-width: 769.0px) and (max-width: 991.9px) {
    #foto {
        height: 300px;
    }

    img {
        height: 30%;
    }

    button {
        width: 120px;
        height: 40px;
        margin: 2em 1em 0em 1em;
        padding: .3em 1em;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.1em;
    }

    #imagemCertificados {
        height: 80%;
    }

    .altura-div-certificados{
        height: 40vh;
    }
}

@media (min-width: 576px) and (max-width: 768.9px) {
    #foto {
        height: 250px;
    }

    button {
        width: 110px;
        height: 40px;
        margin: 2em 1em 0em 1em;
        padding: 0.5em 0.5em;
    }

    #imagemSobre {
        display: none;
    }

    #imagemCertificados {
        height: 70%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        /* margin-top: 30%; */
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
        align-self: center;
    }

    #divImagemSkills {
        height: 30vh;
        width: 90%;
    }

    #imagemSkills {
        align-self: end;
        height: 70%;
    }

    #barraSkills {
        height: 65vh;
        align-self: flex-start;
        display: inline;
        padding: 10px;
        font-size: 90%;
    }

    #sobre {
        height: 95vh;
    }

    #imagemCertificados {
        height: 80%;
    }

    .altura-div-certificados {
        height: 40vh;
    }
}

@media (max-width: 575.9px) {

    #foto {
        height: 200px;
        align-self: end;
    }

    img {
        height: 60%;
    }


    button {
        width: 110px;
        height: 40px;
        margin: 2em 1em 0em 1em;
        padding: 0.5em 0.5em;
    }

    #imagemSobre {
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        margin-top: 30%;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
    }

    p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .altura-div {
        height: 48vh;
    }

    .altura-div2 {
        height: 48vh;
    }

    .item-alinhado-sobre {
        align-self: flex-start;
    }

    #divImagemSkills {
        height: 30vh;
    }

    #imagemSkills {
        align-self: end;
    }

    #barraSkills {
        height: 65vh;
        align-self: flex-start;
        display: inline;
        font-size: 80%;
        padding: 10%;

    }

    #imagemCertificados {
        height: 65%;
    }

    .altura-div-certificados {
        height: 40vh;
    }

    #sobre {
        height: 95vh;
    }
}